---
import Default from '@astrojs/starlight/components/Footer.astro';
---

<Default />
<footer class="sl-container custom-footer">
  <p>Created by BadDeveloper with 💚</p>
</footer>

<style>
  .custom-footer {
    padding-block: 0.5rem 2rem;
    text-align: center;
    color: var(--sl-color-text-muted);
    font-size: 0.85rem;
  }
</style>
